# SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Ensure Mozhi path exists
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ mozhi_uid }}"
    group: "{{ mozhi_gid }}"
  with_items:
    - "{{ mozhi_base_path }}"

- name: Ensure Mozhi support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ mozhi_base_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ mozhi_uid }}"
    group: "{{ mozhi_gid }}"
  with_items:
    - env
    - labels
  register: mozhi_support_files_result

- name: Run if self-building of Mozhi container image is not enabled
  when: "not mozhi_container_image_self_build | bool"
  block:
    - name: Ensure Mozhi container image is pulled via community.docker.docker_image
      when: devture_systemd_docker_base_container_image_pull_method == 'ansible-module'
      community.docker.docker_image:
        name: "{{ mozhi_container_image }}"
        source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
        force_source: "{{ mozhi_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else mozhi_container_image_force_pull }}"
      register: mozhi_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: mozhi_container_image_pull_result is not failed

    - name: Ensure Mozhi container image is pulled via ansible.builtin.command
      when: devture_systemd_docker_base_container_image_pull_method == 'command'
      ansible.builtin.command:
        cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ mozhi_container_image }}"
      register: mozhi_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: mozhi_container_image_pull_result is not failed
      changed_when: "'Downloaded newer image' in mozhi_container_image_pull_result.stdout"

- name: Run if self-building of Mozhi container image is enabled
  when: "mozhi_container_image_self_build | bool"
  block:
    - name: Ensure Mozhi repository is present on self-build
      ansible.builtin.git:
        repo: "{{ mozhi_container_image_self_build_repo }}"
        version: "{{ mozhi_container_image_self_build_repo_version }}"
        dest: "{{ mozhi_container_image_self_build_src_files_path }}"
        force: "yes"
      register: mozhi_git_pull_results

    - name: Ensure Mozhi container image is built
      ansible.builtin.shell:
        chdir: "{{ mozhi_container_image_self_build_src_files_path }}"
        cmd: |
          {{ devture_systemd_docker_base_host_command_docker }} build \
          -t "{{ mozhi_container_image_self_build_name }}" \
          -f Dockerfile \
          .
      environment:
        BUILDPLATFORM: "{{ mozhi_container_image_self_build_environment_buildplatform }}"
      register: mozhi_container_image_build_result
      changed_when: "'Successfully built' in mozhi_container_image_build_result.stdout or ('writing image' in mozhi_container_image_build_result.stderr and 'CACHED' not in mozhi_container_image_build_result.stderr)"

- name: Ensure Mozhi container network is created via community.docker.docker_network
  when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
  community.docker.docker_network:
    enable_ipv6: "{{ devture_systemd_docker_base_ipv6_enabled }}"
    name: "{{ mozhi_container_network }}"
    driver: bridge
    driver_options: "{{ devture_systemd_docker_base_container_networks_driver_options }}"
  register: mozhi_network_creation_result

- name: Ensure Mozhi container network is created via ansible.builtin.command
  when: devture_systemd_docker_base_container_network_creation_method == 'command'
  ansible.builtin.command:
    cmd: >-
      {{ devture_systemd_docker_base_host_command_docker }} network create
      {% if devture_systemd_docker_base_ipv6_enabled %}--ipv6{% endif %}
      {{ devture_systemd_docker_base_container_networks_driver_options_string }}
      {{ mozhi_container_network }}
  register: mozhi_network_creation_result
  changed_when: mozhi_network_creation_result.rc == 0
  failed_when: mozhi_network_creation_result.rc != 0 and 'already exists' not in mozhi_network_creation_result.stderr

- name: Ensure Mozhi systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/mozhi.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ mozhi_identifier }}.service"
    mode: "0644"
  register: mozhi_systemd_service_result

- name: Determine whether Mozhi needs a restart
  ansible.builtin.set_fact:
    mozhi_restart_necessary: >-
      {{
        mozhi_support_files_result.changed | default(false)
        or mozhi_systemd_service_result.changed | default(false)
        or mozhi_container_image_pull_result.changed | default(false)
        or mozhi_container_image_build_result.changed | default(false)
      }}
